@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Slackey&display=swap');
body
{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,120,214,1) 35%, rgba(0,212,255,1) 100%);
}

header
{
color: black;
font-weight: 800;
text-align: center;
font-size: 68px;
font-family: 'Slackey', cursive;
}

#reverser
{
width: 268px;
margin: 0 auto;
text-align: center;
}

textarea
{
border-radius: 10px;
border-width: 2px;
width: 200px;
height: 50px;
padding: 10px;
}

button
{
border-radius: 10px;
margin-top: 5px;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
align-self: center;
background-color: rgb(60, 60, 221);
color: white;
font-weight: 600;
padding: 10px;
}

h1
{
font-family: 'Bubblegum Sans', cursive;
}